<div class="p-5">
    <div class="container shadow p-5">
        <div class="p-5 border border-light rounded">
            <h6>Lista de Compras</h6>
            <hr>

            <form [formGroup]="formulario" (ngSubmit)="CadastrarProduto()">
                <div class="container">
                    <div class="row">
                        <div class="col-6">
                            <div class="form-group">
                                <input type="text" class="form-control form-control-sm"
                                placeholder="Nome do produto" formControlName="nome">
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="form-group">
                                <input type="number" class="form-control form-control-sm"
                                placeholder="Quantidade do produto" formControlName="quantidade">
                            </div>
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-outline-info btn-sm">Adicionar</button>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>